#accordion .card .card-body .btn {
    margin: 0 10px 20px 0;
}

#accordion .card:nth-child(4n+1) .card-body .btn {
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

#accordion .card:nth-child(4n+2) .card-body .btn {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

#accordion .card:nth-child(4n+3) .card-body .btn {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#accordion .card:nth-child(4n+4) .card-body .btn {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

#accordion .btn-link {
    color: #666;
}

pre {
    padding: 5px;
    margin: 5px;
    border: 1px solid #d6d8db;
    background-color: #fefefe;
    border-radius: 10px;
}

.key {
    color: #bd2130;
}

.string {
    color: #0062cc;
}

.number {
    color: #117a8b;
}

.boolean {
    color: #1e7e34;
}

.null {
    color: #d39e00;
}
