{
  "extends": [
    "next",
    "next/core-web-vitals",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "root": true,
  "rules": {
    "prettier/prettier": "warn"
  }
}
